.blog-item{
    padding:30px 20px;
    border-bottom:1px solid black;
}

.blog-item-content{
    color: white;
    padding: 0 5px;
    margin: 0 5px;
    font-size: 13px;
    display: inline-block;
}
.blog-item-title {
    height: 50px;
    font-size: 20px;
}
.blog-item-catalog{
    margin: 0;
    padding:0;
}
.blog-item-catalog:after{
    content: "/";
}

