.home-header {
    height: 60px;
    line-height: 60px;
    display: flex; /*启用flex布局http://www.ruanyifeng.com/blog/2015/07/flex-grammar.html*/
}

.home-header-title {
    display: flex;
    justify-content: center; /*内容居中*/
    flex-grow: 1;
}
.home-header-title a,.home-header-title a:hover{
    font-size: 20px;
    color: white;
}
.home-header-subtitle {
    flex-grow: 2;
}
.home-header-subtitle a,.home-header-subtitle a:hover{
    font-size: 16px;
    color: rgb(136, 136, 136);
}
.home-header-nav {
    display: flex;
    flex-grow: 2;
}

.home-header-nav-item {
    font-size: 16px;
    color: rgb(136, 136, 136);
    flex-grow: 1;
    transition: .5s;
}
.home-header-nav-item:hover {
    color: white;
    background-color: rgb(50, 50, 50);
    border-bottom:solid 5px #14d5ff;
    cursor:pointer;
}